body{
    background-color: white !important;
    color: #b2acaa !important;
}

#avatarApp{
    height: 400px;
    background-size: cover;
}

#textApp{
    margin-top: 30px;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
}

#avatarName{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 50px;
    text-align: center;
}

#myCarousel{
    clear: both;
}

.logo-img {
    max-height: 380px;
    max-width: 380px;
}